:root {
  --purple: #9c3acc;
  --purpleDarck: #9f64ff;
}

a {
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--purple);
  text-decoration: inherit;
  transition: all 0.5s;
}
a:hover {
  color: var(--purpleDarck);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.head-desktop {
  display: flex;
  color: var(--purple);
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--purple);
}

.menu-container-desktop > li > a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 1.5rem 0 2.5rem 0;
}
.search-input {
  width: 25rem;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.2rem;
  outline: none;
  border: solid var(--purple);
  border-radius: 1rem;
}

.search-input::placeholder {
  color: var(--purple);
}

.btn-input {
  margin: 10px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: var(--purple);
  cursor: pointer;
  transition: all 0.5s;
}
.btn-input:hover {
  background-color: var(--purple);
  color: #fff;
}
.anime-list {
  padding: 0.5rem;
  margin-top: 2rem;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: repeat(4, minmax(24rem, 1fr));
}

.container-link {
  margin: 1rem;
  width: 15rem;
  height: 26rem;
  border-radius: 1rem;
  display: flex;
  color: var(--purple);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.container-link:hover {
  box-shadow: 0 0 10px rgba(193, 7, 235, 0.5);
  transform: translateY(-10px);
}

.container-link > h3 {
  margin-top: 0.7rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.3rem;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* // movil zone  */

@media screen and (max-width: 1200px) {
  .anime-list {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}

@media screen and (max-width: 568px) {
  .search-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .search-container > form {
    display: flex;
    flex-direction: column;
  }

  .search-input {
    width: 15rem;
  }
  .btn-input {
    margin-top: 1rem;
  }
  .anime-list {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
